$head-font: 'Carter One', cursive;
$alt-head-font: 'Bungee', cursive;
$para-font: 'Lato', sans-serif;
$alt-para-font: 'Pragati Narrow', sans-serif;

$primary-color: #70a10d;
$secondary-color: rgb(143, 175, 214);
$alt-color: rgb(242, 242, 242);
