body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 1.2px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
}

#page-wrap {
    width: 800px;
    margin: 0 auto;
}

#info {
    background-color: #98C1D9;
    margin-top: -30px;
    margin-bottom: 10px;
}

#mountains {
    text-align: center;
}

.navbar-default {
    background-color: rgb(248, 248, 248);
}

.jumbotron {
    height: 100vh;
    width: 100%;
    background: url(../img/random-mountains.jpg) center no-repeat rgb(27, 34, 42);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}

.head-quote {
    background-color: #fff;
    color: rgb(0, 0, 0);
    margin-top: 35%;
    margin-right: -5%;
    float: right;
}

.left-col {
    margin-left: 5px;
    vertical-align: middle;
}

.mount-img {
    width: 475px;
    height: 300px;
    margin-top: 10px;
    box-shadow: -12px 13px 30px -10px black;
}

.list-inline {
    text-align: center;
}

ul.list-inline li {
    display: inline;
}

.register-wrap {
    margin-top: 25px;
}

/* h1 {
    top: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 4em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
} */