// Screen size variables
$screen-xs-max: 425px; // Tiny phones
$screen-sm-max: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-max: 768px; // Small tablets (portrait view)
$screen-lg-max: 992px; // Tablets and small desktops
$screen-xl-max: 1200px; // Large tablets and desktops

// Mixins

// Tiny devices
@mixin xs {
    @media only screen and (max-width: #{$screen-xs-max}) {
        @content;
    }
}

// Small devices
@mixin sm {
    @media only screen and (max-width: #{$screen-sm-max}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media only screen and (max-width: #{$screen-md-max}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media only screen and (max-width: #{$screen-lg-max}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media only screen and (max-width: #{$screen-xl-max}) {
        @content;
    }
}

// Styling Variables
$head-font: 'Carter One', cursive;
$alt-head-font: 'Bungee', cursive;
$para-font: 'Lato', sans-serif;
$alt-para-font: 'Pragati Narrow', sans-serif;
$primary-color: #70a10d;
$secondary-color: rgb(143, 175, 214);
$alt-color: rgb(242, 242, 242);

div {
    width: 100%;
    border: 1px solid red;
}

body {
    font-family: $para-font;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

/////////// Jumbotron ///////////

.heading {
    font-family: $alt-head-font;
    font-size: 35px;
}


.navbar {
    background-color: transparent;
    border-bottom: none;
}

.brand-name{
    font-family: $head-font;
    font-size: 3rem;
    float: left;

}
    

.jumbotron {
    height: 100vh;
    width: 100%;
    background: url(../img/random-mountains.jpg) center no-repeat rgb(27, 34, 42);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);


}

.head-quote {
    background-color: #fff;
    color: rgb(0, 0, 0);
    margin-top: 35%;
    margin-right: -25%;
    float: right;
    border-radius: 10px;

}

//////// Info Bar /////////

#info-plane {
    margin-top: -25px;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.info-icon {
    float: left;
    margin-top: 5px;
    padding-right: 5px;
    color: $secondary-color;
}

.inform {
    font-family: $para-font !important;
    font-size: 14px !important;
    font-style: italic !important;
}

.left-col {
    margin-left: 5px;
    vertical-align: middle;
}

///// MOUNTAIN SECTION /////

#mountains {
    text-align: center;
    background: $alt-color;
    margin-top: 15px;
    }

.mount-img {
    width: 475px;
    height: 300px;
    margin-top: 10px;
    box-shadow: -12px 13px 30px -10px black;
}

.list-inline {
    text-align: center;
}

ul.list-inline li {
    display: inline;
}

//////// ABOUT US SECTION ///////

#about-us{
 height: 70vh;
 width: 100%;
 background: url(../img/transparent-mount.png) center no-repeat;
 background-size: cover;
 background-attachment: fixed;
 color: rgb(255, 255, 255);
}

/////// Input Section ///////
.img img {
    width: 100%;
}

.register-block {
    border: 1px solid red;
}

.register-wrap {
    margin-top: 25px;
}

input {
    height: 35px;
    margin: 10px 5px;
}

.name {
    width: 250px;
    border: 1px solid red;
}


///////// Media Queries ///////////

@include xs {
    .head-quote {
        display: none;
    }
}

@include sm {
    
    .head-quote {
        margin-top: 25%;
        margin-right: -20px;
        float: right;
    }
    
    .head-quote h1 {
        font-family: $head-font;
        font-size: 1rem;
        text-align: center;
    }
    
    .head-quote p {
        font-family: $para-font;
        font-size: 1rem;
        text-align: center;
        padding: 5px 5px;
    }
        
    #mountains {
        text-align: center;
        background: $alt-color;
        margin-top: 15px;
    }
        
    .mount-img {
        width: 375px;
        height: 200px;
        margin-top: 10px;
        box-shadow: -12px 13px 30px -10px black;
    }

    .heading {
        font-size: 1.7em;
    }

    #about-us {
        height: 70vh;
        width: 100%;
        background: url(../img/transparent-mount.png) center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: rgb(255, 255, 255);
    }
}

@include md {
    .head-quote {
        background-color: #fff;
        color: rgb(0, 0, 0);
        margin-top: 100%;
        margin-right: -15%;
        float: right;
        border-radius: 10px;
    }

    .head-quote h1 {
        font-family: $head-font;
        font-size: 2em;
        text-align: center;
    }
    
    .head-quote p {
        font-family: $para-font;
        font-size: 1em;
        text-align: center;
        padding: 5px 5px;
    }

    #mountains {
        text-align: center;
        background: $alt-color;
        margin-top: 15px;
    }

    .mount-img {
        width: 450px;
        height: 250px;
        margin-top: 10px;
        box-shadow: -12px 13px 30px -10px black;
    }

    .heading {
        font-size: 1.7em;
    }

    #about-us {
        height: 100vh;
        width: 100%;
        background: url(../img/transparent-mount.png) center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: rgb(255, 255, 255);
    }
}

@include lg {
    .head-quote {
        background-color: #fff;
        color: rgb(0, 0, 0);
        margin-top: 50%;
        margin-right: 5%;
        float: right;
        border-radius: 10px;
    }

    .head-quote h1 {
        font-family: $head-font;
        font-size: 10px;
        text-align: center;
    }

    .head-quote p {
        font-family: $para-font;
        font-size: 1em;
        text-align: center;
        padding: 5px 5px;
    }
}

@include xl {
    .head-quote {
        background-color: #fff;
        color: rgb(0, 0, 0);
        margin-top: 50%;
        margin-right: 5%;
        float: right;
        border-radius: 10px;
    }

    .head-quote h1 {
        font-family: $head-font;
        font-size: 10px;
        text-align: center;
    }

    .head-quote p {
        font-family: $para-font;
        font-size: 1em;
        text-align: center;
        padding: 5px 5px;
    }
}








