$head-font: 'Carter One', cursive;
$alt-head-font: 'Bungee', cursive;
$para-font: 'Lato', sans-serif;
$alt-para-font: 'Pragati Narrow', sans-serif;
$primary-color: #70a10d;
$secondary-color: rgb(143, 175, 214);
$alt-color: rgb(242, 242, 242);

body {
    font-family: $para-font;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.inform {
    font-family: $para-font !important;
    font-size: 14px !important;
    font-style: italic !important;
}

.heading {
    font-family: $alt-head-font;
    font-size: 35px;

}


.navbar-default {
    background-color: transparent;
}

.brand-name{
    font-family: $head-font;
    font-size: 3rem;
}

.jumbotron {
    height: 100vh;
    width: 100%;
    background: url(../img/random-mountains.jpg) center no-repeat rgb(27, 34, 42);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}

.head-quote {
    background-color: #fff;
    color: rgb(0, 0, 0);
    margin-top: 35%;
    margin-right: -5%;
    float: right;
}

#info-plane {
    margin-top: -25px;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.info-icon {
    float: left;
    margin-top: 5px;
    padding-right: 5px;
    color: $secondary-color;
}

#info-plane p {
    font-size: 1em;
    font-family: $para-font;
    padding-bottom: 5px;
}

.left-col {
    margin-left: 5px;
    vertical-align: middle;
}

///// MOUNTAIN SECTION /////

#mountains {
    text-align: center;
    background: $alt-color;
    margin-top: 15px;
    }

.mount-img {
    width: 475px;
    height: 300px;
    margin-top: 10px;
    box-shadow: -12px 13px 30px -10px black;
}

.list-inline {
    text-align: center;
}

ul.list-inline li {
    display: inline;
}

//////// ABOUT US SECTION ///////

#about-us{
 height: 70vh;
 width: 100%;
 background: url(../img/transparent-mount.png) center no-repeat;
 background-size: cover;
 background-attachment: fixed;
 color: rgb(255, 255, 255);
}

.img img {
    width: 100%;
}
    .register-block {
    border: 1px solid red;
}

.register-wrap {
    margin-top: 25px;
}

input {
    height: 35px;
    margin: 10px 5px;
}

.name {
    width: 250px;
    border: 1px solid red;
}

/* h1 {
    top: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 4em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
} */