.heading {
    font-family: $alt-head-font;
    font-size: 35px;
}


.navbar {
    background-color: transparent;
    border-bottom: none;
}

.nav li {
    font-family: $alt-head-font;
    font-size: 2rem;
}

.brand-name{
    font-family: $head-font;
    font-size: 3rem;
    float: left;
}
    
