 .header__top, .header__sub, .header__search--bar {
        position: absolute;
        margin-left: 60%;
        z-index: 1;
    }
    
    .header__top {
        color: white;
        padding-top: 8%;
        padding-left: 5%;
        }

    .header__sub {
        font-size: 2.8rem;
        padding-top: 16%;
        padding-left: 9%;
        
    }
            
    span.header__bold {
                color: $primary-color;
                font-size: 3rem;
            }
